@import "../../mixins/mixins.scss";
@import "../../variables/variables.scss";
@import "../../animations/animations.scss";

.newestarticles {
  background-color: #101626bd;
  padding: 1em;
  margin: 2em 0px;
  overflow-x: auto;
  @include wymiary(100%, 120vw);
  @include simpleflex(row, space-between, center);
  &__title {
    color: $main-color;
    font-family: $sans;
    font-weight: bold;
    text-align: center;
    font-size: $ps-t;
    text-shadow: $accent 0.06em 0.03em;
    padding: 0px 0.5em;
  }
  &__list {
    @include simpleflex(row, center, center);
    position: relative;
  }
}
.flex {
  @include simpleflex(column, center, center);
}
.article {
  @include wymiary(80vw, 100vw);
  @include simpleflex(column, center, center);
  background-color: $dark-2;
  padding: 2em;
  box-shadow: -2px -2px 6px #000;
  margin-left: 2em;

  border-radius: 5em;
  &__title {
    color: $main-color;
    font-size: calc($ps-c + 10px);
    font-family: $sans;
    text-align: center;
    text-shadow: $accent 0.06em 0.03em;
    padding: 0em 1.5em;
  }
  &__date {
    color: $main-color;
    font-size: $ps-c;
    font-family: $sans;
    text-align: center;
    text-shadow: $accent 0.06em 0.03em;
    margin-bottom: 1em;
  }

  &__image {
    @include wymiary(30vw, 30vw);
    border-radius: 50vw;
    margin: auto;
  }
  &__text {
    margin-top: 1em;
    color: $main-color;
    font-size: calc(#{$ps-c} - 4px);
    padding: 1em;
    font-family: $serif;
    text-align: center;
  }
  &__readmore {
    color: $main-color;
    font-family: $serif;
    font-weight: bold;
    font-size: calc(#{$ps-c} - 4px);
  }
}
@for $i from 2 through 5 {
  .article:nth-of-type(#{$i}) {
    margin-left: -2em;
    z-index: #{$i};
    // animation: hideArticle 0.2s alternate;
    // &:hover {
    //   animation: showArticle 0.2s alternate;
    //   margin-left: -4em;
    //   transform: rotate(-5deg);
    // }
  }
}
@media (min-width: 540px) {
  .newestarticles {
    @include wymiary(100%, 120vw);
    &__title {
      font-size: $ps-t;
    }
  }
  .article {
    @include wymiary(60vw, 90vw);
    &__title {
      font-size: calc($s540-c + 10px);
    }
    &__date {
      font-size: $s540-c;
    }
    &__image {
      @include wymiary(25vw, 25vw);
      border-radius: 50vw;
      margin: auto;
    }
    &__text {
      font-size: calc(#{$s540-c} - 4px);
    }
    &__readmore {
      font-size: calc(#{$s540-c} - 4px);
    }
  }
}
@media (min-width: 720px) {
  .newestarticles {
    @include wymiary(100%, 90vw);
    &__title {
      font-size: $s540-t;
    }
  }
  .article {
    @include wymiary(45vw, 70vw);
    &__title {
      font-size: calc($s720-c + 10px);
    }
    &__date {
      font-size: $s720-c;
    }
    &__image {
      @include wymiary(20vw, 20vw);
      border-radius: 50vw;
      margin: auto;
    }
    &__text {
      font-size: calc(#{$s720-c} - 4px);
    }
    &__readmore {
      font-size: calc(#{$s720-c} - 4px);
    }
  }
}
@media (min-width: 1024px) {
  .newestarticles {
    @include wymiary(100%, 80vw);
    animation: hideArticleFirst 0.2s alternate;
    &__title {
      font-size: $s720-t;
    }
  }
  .article {
    &:hover {
      animation: showArticleFirst 0.2s alternate;
      margin-left: 0em;
      transform: rotate(-5deg);
    }
    @include wymiary(30vw, 50vw);
    &__title {
      font-size: calc($s1024-t + 10px);
    }
    &__date {
      font-size: $s1024-c;
    }
    &__image {
      @include wymiary(20vw, 20vw);
      border-radius: 50vw;
      margin: auto;
    }
    &__text {
      font-size: calc(#{$s1024-c} + 2px);
    }
    &__readmore {
      font-size: calc(#{$s1024-c} + 2px);
    }
  }
  @for $i from 2 through 5 {
    .article:nth-of-type(#{$i}) {
      animation: hideArticle 0.2s alternate;
      &:hover {
        animation: showArticle 0.2s alternate;
        margin-left: -4em;
        transform: rotate(-5deg);
      }
    }
  }
}
@media (min-width: 1600px) {
  .newestarticles {
    @include wymiary(80%, 40vw);
    margin: auto;
    &__title {
      font-size: $s1024-t;
    }
  }
  .article {
    @include wymiary(20vw, 35vw);
    &__title {
      font-size: calc($s1600-t + 10px);
    }
    &__date {
      font-size: $s1600-c;
    }
    &__image {
      @include wymiary(10vw, 10vw);
      border-radius: 50vw;
      margin: auto;
    }
    &__text {
      font-size: calc(#{$s1600-c} + 2px);
    }
    &__readmore {
      font-size: calc(#{$s1600-c} + 2px);
    }
  }
}
