@import "../../mixins/mixins.scss";
@import "../../variables/variables.scss";
@import "../../animations/animations.scss";

.core-footer{
    margin: auto;
    position: sticky;
    top: 100%;
    display: block;
    background-color: $dark;
    padding: 2em 0px;
    &__author{
        color: $main-color;
        font-family: $sans;
        font-size: $ps-c;
        font-weight: 500;
        text-align: center;
    }
    &__link{
        color: $main-color;
        font-family: $sans;
        &:hover{
            animation: shadowHighlight .2s alternate;
            text-shadow: $accent 2px 1px;
        }
    }
}
@media (min-width: 540px) {
    .core-footer{
        &__author{
            font-size: $s540-c;
        }
    }
}
@media (min-width: 720px) {
    .core-footer{
        &__author{
            font-size: $s720-c;
        }
    }
}
@media (min-width: 1024px) {
    .core-footer{
        &__author{
            font-size: $s1024-c;
        }
    }
}
@media (min-width: 1600px) {
    .core-footer{
        &__author{
            font-size: $s1600-c;
        }
    }
}