@import "../../mixins/mixins.scss";
@import "../../variables/variables.scss";
@import "../../animations/animations.scss";

.welcome-section{
    @include wymiary(100%, 100vh);
    padding: 25vw 13vw;
    &__dialbox{
        @include simpleflex(column, space-between, center);
        height: 100%;
        background-color: #003454bd;
        padding: 16vw 7vw;
        border-radius: 83px;
    }
    &__title{
        font-family: $sans;
        color: $main-color;
        font-size: $ps-t;
        font-weight: 600;
        text-shadow: $accent .06em .03em;
        padding-bottom: .4em;
        border-bottom: $accent 5px solid;
        animation: textShowup .7s ease-in-out;
    }
    &__content{
        font-size: $ps-c;
        color: $light;
        font-family: $sans;
        text-align: center;
    }
    &__highlight{
        font-size: calc(#{$ps-c} + 10px);
        font-family: $sans;
        color: $main-color;
        font-weight: 600;
        animation: textShowup-nonborder .7s ease-in-out;
        text-shadow: $accent .07em .04em;
    }
}
.bold{
    font-weight: 600;
}

@media (min-width: 540px) {
    .welcome-section{
        padding: 13vw;
        &__dialbox{
            padding: 16vw 7vw;
        }
        &__title{
            font-size: calc(#{$s540-t} + 15px);
        }
        &__content{
            font-size: $s540-c;
        }
        &__highlight{
            font-size: calc(#{$ps-c} + 10px);    
        }
    }
}
@media (min-width: 720px) {
    .welcome-section{
        padding: 13vw 20vw;
        &__dialbox{
            padding: 10vw 7vw;
        }
        &__title{
            font-size: calc(#{$s720-t} + 15px);
        }
        &__content{
            font-size: $s720-c;
        }
        &__highlight{
            font-size: calc(#{$ps-c} + 10px);    
        }
    }
}
@media (min-width: 1024px) {
    .welcome-section{
        padding: 8vw 25vw;
        &__dialbox{
            padding: 7vw;
        }
        &__title{
            font-size: calc(#{$s1024-t} + 15px);
            padding: .2em;
        }
        &__highlight{
            font-size: calc(#{$s540-c} + 10px);    
        }
    }
}
@media (min-width: 1600px) {
    .welcome-section{
        padding: 8vw 30vw;
        &__dialbox{
            padding: 2vw 7vw;
        }
        &__title{
            font-size: calc(#{$s1600-t} + 15px);
        }
        &__highlight{
            font-size: $s1600-t;    
        }
    }
}