@import "mixins/mixins.scss";
@import "variables/variables.scss";

* {
    @include reset();    
}
.container {
    background-image: $main-bg;
    min-height: 100vh;
}
a{
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
    background: linear-gradient($accent, $main-color); 
  }
  ::-webkit-scrollbar-thumb {
    background: $dark-2; 
    border-radius: 10px;
  }