@import "../../mixins/mixins.scss";
@import "../../variables/variables.scss";
@import "../../animations/animations.scss";


.core-header{
    width: 100%;
    padding: 2em;
    background-color: $dark-2;
    position: sticky;
    top: 0%;
    @include simpleflex(row, space-between, center);
    &__title{
        color: $main-color;
        font-size: $ps-t;
        text-shadow: $accent 2px 1px;
        font-family: $sans;
        font-weight: bold;
        padding-left: 1em;
    }
}
.menu{
    @include simpleflex(row, center, center);
    list-style: none;
    position: relative;
    &__element{
        margin: 0px 1em;
    }
    &__link{
        color: $main-color;
        font-size: $ps-t;
        font-family: $sans;
        font-weight: bold;
        &:hover{
            animation: shadowHighlight .2s alternate;
            text-shadow: $accent 2px 1px;
        }
    }
    &__title{
        font-family: $sans;
        color: $main-color;
        font-size: calc(#{$ps-c} + 10px);
        font-weight: bold;
        text-shadow: $accent .06em .03em;
    }
    &--list{
        margin-top: 7.5%;
        position: absolute;
        right: 0%;
        background-color: $dark;
        border: 2px $main-color solid;
        padding: 1em;
    }
}
#menu {
    font-size: $ps-t;
    color: $main-color;
    text-shadow: $accent 2px 1px;
    padding-right: 1em;
}
@media (min-width:540px){
    .core-header{
        @include simpleflex(row, center, center);
    }
    .menu{
        &__element{
            margin: 0px .75em;
        }
        &__link{
            font-size: $s540-c;
        }
        &__title{
            font-size: calc(#{$s540-c} + 10px);
        }
    }
}
@media (min-width:720px){
    .core-header{
        @include simpleflex(row, center, center);
    }
    .menu{
        &__element{
            margin: 0px .75em;
        }
        &__link{
            font-size: $s720-c;
        }
        &__title{
            font-size: calc(#{$s720-c} + 20px);
        }
    }
}
@media (min-width:1600px){
    .menu{
        &__element{
            margin: 0px .75em;
        }
        &__link{
            font-size: $s1024-c;
        }
        &__title{
            font-size: calc(#{$s1024-c} + 20px);
        }
    }
}