//===================================================//
//                      fonts                       //
//=================================================//

$sans: 'Montserrat', sans-serif;
$serif: "Source Serif Pro", serif;

//===================================================//
//                      colors                      //
//=================================================//

$dark: #101626;
$dark-2: #003454;
$main-color: #FFCC00;
$accent: #ff6a45;
$light: #fff;

//===================================================//
//                      font-sizes                  //
//=================================================//

$ps-t: 8vw;
$ps-c: 3.75vw;
//====
$s540-t: 6vw;
$s540-c: 3vw;
//====
$s720-t: 6vw;
$s720-c: 2.5vw;
//====
$s1024-t: 4.5vw;
$s1024-c: 1.25vw;
//====
$s1600-t: 3vw;
$s1600-c: .85vw;

//===================================================//
//                      backgrounds                 //
//=================================================//

$main-bg: url(../images/background.png);